extends layout

block content
  // header
  .page-header
    h1
      a(href='/') Rose 
      small An interactive, technical, and openly editable Rosetta Stone for developers.

  // search form
  form.search-form.input-group(role='search', ng-submit='updateResults()')
    input.form-control(type='search', ng-model='query', placeholder='Search for features, technologies, or code snippets', ng-change='updateResults()', autofocus)
    .input-group-btn
      button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-search

  // results
  .search-results
    .panel.panel-default(ng-repeat='feature in features')
      .panel-heading: h2.panel-title(ng-bind-html='feature.name | highlight:query')
      table.table.table-striped
        tr(ng-repeat='example in feature.examples')
          td(ng-bind-html='example.technology | highlight:query')
          td: pre(ng-repeat='snippet in listify(example.snippets)')
            code(ng-bind-html='snippet | highlight:query')
    h2.text-muted(ng-if='!features') No results

  // footer
  hr
  footer
    | &copy; 2014 
    a(href='http://nicolasmccurdy.com/') Nicolas McCurdy
    a.pull-right(href='https://github.com/nicolasmccurdy/rose' target='_blank').
      GitHub Repository
