extends layout

mixin displayFeature(feature)
  .panel.panel-default
    .panel-heading: h3.panel-title= feature.name
    ul.list-group: each key in Object.keys(feature.examples)
      +displayExample(key, feature.examples[key])

mixin displayExample(technology, code)
  li.list-group-item.active
    .list-group-item-heading= technology
    p.list-group-item-text
      ul.list-inline
        if typeof code === 'string'
          li: code= code
        else
          each str in code
            li: code= str

block content
  // results
  h2 Results
  if features.length > 0
    ol: each feature in features
      li: +displayFeature(feature)
  else
    h3.text-muted No results
