extends layout

mixin displayFeature(feature)
  .panel.panel-default
    .panel-heading: h2.panel-title= feature.name
    ul.list-group: each key in Object.keys(feature.examples)
      +displayExample(key, feature.examples[key])

mixin displayExample(technology, code)
  li.list-group-item: .row
    .col-md-2.technology= technology
    ul.col-md-10.list-inline
      if typeof code === 'string'
        li: code= code
      else
        each str in code
          li: code= str

block content
  // results
  .search-results
    h1 Results
    if features.length > 0
      ol: each feature in features
        li: +displayFeature(feature)
    else
      h2.text-muted No results
