extends layout

mixin displayFeature(feature)
  h3= feature.name
  dl: each key in Object.keys(feature.examples)
    +displayExample({ technology: key, code: feature.examples[key]})

mixin displayExample(example)
  dt #{example.technology}
  dd
    if typeof example.code === 'string'
      code= example.code
    else
      each str in example.code
        code= str
        br

block content
  // results
  h2 Results
  if features.length > 0
    ol: each feature in features
      li: +displayFeature(feature)
  else
    h3.text-muted No results
