extends layout

block content
  // header
  .page-header
    h1
      a(href='/') Rose 
      small An interactive, technical, and openly editable Rosetta Stone for developers.

  // search form
  form.search-form.input-group(role='search', ng-submit='updateResults()')
    input.form-control(type='search', ng-model='query', placeholder='Search for features, technologies, or code snippets', ng-change='updateResults()', autofocus)
    .input-group-btn
      button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-search

  // results
  .search-results
    .panel.panel-default(ng-repeat='feature in features')
      // TODO: Highlight query
      .panel-heading: h2.panel-title(ng-bind='feature.name')
      dl.dl-horizontal.panel-body
        // TODO: Highlight query
        dt(ng-bind='example.technology', ng-repeat-start='example in feature.examples')
        dd(ng-repeat='snippet in listify(example.snippets)', ng-repeat-end)
          // TODO: Highlight query
          pre: code(ng-bind='snippet')
    h2.text-muted(ng-if='!features') No results

  // footer
  hr
  footer
    | &copy; 2014 
    a(href='http://nicolasmccurdy.com/') Nicolas McCurdy
    a.pull-right(href='https://github.com/nicolasmccurdy/rose' target='_blank').
      GitHub Repository
