extends layout

mixin displayFeature(feature)
  h3= feature.name
  dl: each key in Object.keys(feature.examples)
    +displayExample(key, feature.examples[key])

mixin displayExample(technology, code)
  dt= technology
  dd
    if typeof code === 'string'
      code= code
    else
      each str in code
        div: code= str

block content
  // results
  h2 Results
  if features.length > 0
    ol: each feature in features
      li: +displayFeature(feature)
  else
    h3.text-muted No results
