doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // styles
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // navbar
    nav.navbar.navbar-default.navbar-static-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Rose
        ul.nav.navbar-nav.navbar-right
          li: a(href='https://github.com/nicolasmccurdy/rose' target='_blank').
            GitHub Repository

    .well: .container: .row: .col-lg-6.col-lg-offset-3
      // search form
      form.input-group.input-group-lg(role='search')
        input.form-control(type='search', name='query', placeholder='Search for a method, function, or command', autofocus)
        .input-group-btn
          button.btn.btn-primary(type='submit')
            span.glyphicon.glyphicon-search

    .container
      block content

      // footer
      hr
      footer
        | &copy; 2014 
        a(href='http://thenickperson.com') Nicolas McCurdy
    // scripts
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
