body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ddd;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff4136;
}

.search-results {
  list-style: none;
  padding: 0;
}

.card {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;

  pre {
    margin: 0;
  }

  .table-responsive {
    overflow-x: auto;
  }

  table {
    width: 100%;

    tr td:nth-child(1) {
      width: 25%;
    }

    tr td:nth-child(2) {
      width: 75%;
    }
  }
}

.panel-title {
  margin-top: 0;
}

code {
  font-family: "Source Code Pro", monospace;
}

mark {
  background-color: yellow;
}

.search-input {
  width: 100%;
}

footer {
  background: #ddd;
  bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
}
