body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ddd;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff4136;
}

.search-results {
  list-style: none;
  padding: 0;
}

.card {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;

  pre {
    margin: 0;
  }

  .table-responsive {
    overflow-x: auto;
  }

  table {
    width: 100%;

    tr td:nth-child(1) {
      width: 25%;
    }

    tr td:nth-child(2) {
      width: 75%;
    }
  }
}

.panel-title {
  margin-top: 0;
}

code {
  font-family: "Source Code Pro", monospace;
}

mark {
  background-color: yellow;
}

.search-input {
  border-radius: 2em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font: inherit;
  padding: .5em 1em;
  width: 100%;

  &:focus {
    border-color: #129FEA;
    outline: none;
  }
}

footer {
  background: #ddd;
  bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
}

table {
  border-collapse: collapse;
}

table, tr, td, th {
  border: 1px solid #cbcbcb;
}

td, th {
  padding: 8px 16px;
}
